.rootLayoutDesign {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: rgb(249, 245, 246);
    padding: 30px;
    gap: 30px;


}

@media (max-width: 768px) {
    .rootLayoutDesign {
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }
}